@media (min-width: 1025px) {
    .bags {
        display: none;
    }

    .categories {
        background-image: linear-gradient(to right, #fff, #f7f7f7);
    }

    .footer__delivery {
        display: block;
    }
}
/*tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .container {
        max-width: 720px;
    }

    /*Header*/
    .header__title {
        font-size: 26px;
    }

    .menu__link {
        font-size: 12px;
        margin-right: 22px;
    }

    .search {
        width: 0;
        opacity: 0;
        padding-bottom: 5px;
        padding-left: 10px;
        border-bottom: none;
}

    .search::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #e5e5e5;
    }

    .search.is-show {
        position: absolute;
        right: 0;
        width: 250px;
        background-color: #fff;
        opacity: 1;
        transition: all .3s ease-out;
    }

    .search__field,
    .search__field:focus {
        width: 100%;
        border: none;
        outline: none;
    }

    .search__icon {
        right: 5px;
        bottom: 48%;
    }

    .search__icon:hover {
        cursor: pointer;
    }

    .search.is-show .search__icon {
        right: 5px;
    }

    /*Start*/
    .slider {
        display: none;
    }

    .sliderTablet {
        display: block;
    }

    /*Categories*/
    .categories {
        background-image: none;
    }

    .categories__container {
        flex-direction: row;
    }

    .caps {
        display: none;
    }

    .shoes {
        width: 70%;
        background-position: 50% 50%;
        background-size: 82%;
    }

    .bags {
        width: 30%;
        display: block;
        background: url("../img/catalog/bag.png") no-repeat center center #fff;
        background-size: contain;
    }

    .categories__info {
        top: 50px;
    }

    .bags .categories__info {
        top: 250px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    /*new arrival*/
    .arrival__header {
        padding-top: 100px;
        padding-bottom: 80px;
        font-size: 40px;
    }

    .arrival__wrap {
        justify-content: space-around;
    }

    .arrival__item {
        padding: 0 20px;
    }

    .arrival__item:last-child {
        display: none;
    }

    .arrival__descr {
        padding: 42px 0 25px;
    }

    .arrival__bottom {
        padding: 90px 0 135px;
    }

    .button {
        font-size: 20px;
        padding: 25px 90px;
    }

    /*footer*/
    .footer {
        padding-top: 50px;
    }

    .footer__block:first-child {
        width: 63.6%;
        border-right: none;
        padding: 0 100px 100px 25px;
    }

    .footer__block:last-child {
        width: 36.3%;
        padding: 0 50px 0 30px;
    }

    .footer__subheader {
        margin-bottom: 50px;
    }

    .footer__item {
        margin-bottom: 25px;
    }

    .footer__link {
        font-size: 12px;
    }

    .footer__socialsBlock {
        flex-direction: column;
    }

    .footer__socialsSubheader {
        margin-bottom: 20px;
    }

    .footer__socialsInfo.twitter {
        margin-bottom: 45px;
    }

    .footer__delivery {
        display: none;
    }

    .footer__socials {
        margin-top: 90px;
    }

    .footer__bottom {
        padding: 27px 35px 32px 40px;
    }

    .footer__share {
        font-size: 16px;
    }

    .footer__linksItem {
        margin-left: 16px;
    }
}

/*mobile*/
@media screen and (max-width: 767px) {
    .container {
        max-width: 540px;
        width: 100%;
    }

    .header {
        display: none;
    }

    .headerMobile {
        display: flex;
    }

    .headerMobile__wrapMenu {
        padding: 25px 10px 30px 20px;
        border-left: 2px solid #f7f7f7;
    }

    .headerMobile__wrapBag {
        padding-right: 20px;
    }

    .headerMobile__hamburgerIcon {
        width: 30px;
        height: 30px;
    }

    .headerMobile__top {
        display: flex;
        align-items: center;
    }

    .headerMobile__title {
        flex-grow: 2;
        font: 700 24px "Open Sans", sans-serif;
        line-height: 0;
        color: #000;
        padding: 25px 0 30px 5px;
    }

    .headerMobile__info {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .headerMobile__link {
        display: flex;
        align-items: center;
        font: 400 12px "Roboto", sans-serif;
        color: #000;
    }

    .headerMobile__bagIcon {
        width: 15px;
        height: 20px;
        margin-right: 15px;
    }

    .headerMobile__nav {
        display: block;
        position: absolute;
        padding: 0 20px;
        width: 100%;
        height: 0;
        top: 91px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 1;
        transition: height .3s ease-out;
        overflow-y: auto;
    }

    .headerMobile__nav.is-show {
        padding-bottom: 20px;
        height: 100%;
    }

    .menuMobile__link {
        display: block;
        font: 700 24px "Open Sans", sans-serif;
        color: #000;
        line-height: 60px;
        margin-right: 0;
    }

    .menuMobile__link:last-child {
        margin-right: 0;
    }

    .menuMobile__link:hover,
    .menuMobile__link.is-active {
        color: #f14a58;
    }

    .searchMobile {
        display: block;
        border-bottom: 2px solid #e5e5e5;
        width: 170px;
        font: 700 12px "Open Sans", sans-serif;
        padding-bottom: 8px;
        margin-top: 75px;
        position: relative;
    }

    .searchMobile__field,
    .searchMobile__field:focus {
        width: 100%;
        border: none;
        outline: none;
    }

    .searchMobile__icon {
        width: 14px;
        height: 14px;
        position: absolute;
        right: 5px;
        bottom: 50%;
    }

    .slider__pagination {
        padding: 25px 0;
    }

    /*categories*/
    .categories__container {
        flex-direction: column;
    }

    .shoes {
        width: 100%;
        height: 238px;
        border-right: none;
        background-size: 92%;
    }

    .caps, .bags {
        display: none;
    }

    .categories__info {
        top: 40px;
        right: 55px;
    }

    .categories__descr {
        font-size: 22px;
        line-height: 35px;
    }

    .categories__extra {
        font-size: 14px;
    }

    /*new arrival*/
    .arrival__header {
        font-size: 26px;
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .arrival__wrap {
        justify-content: space-around;
    }

    .arrival__item {
        padding: 0 10px;
    }

    .arrival__item:nth-child(3),
    .arrival__item:last-child {
        display: none;
    }

    .arrival__descr {
        font-size: 12px;
        padding: 34px 0 15px;
    }

    .arrival__price {
        font-size: 12px;
    }

    .arrival__bottom {
        padding: 70px 0 105px;
    }

    .button {
        font-size: 18px;
        padding: 20px 60px;
    }

    /*Footer*/
    .footer {
        display: none;
    }

    .footerMobile {
        display: block;
        background-color: #fff;
    }

    .footerMobile__wrap {
        border-top: 1px solid #e5e5e5;
    }

    .footerMobile__top {
        padding: 35px 20px 60px;
        display: flex;
    }

    .footerMobile__linksBlock {
        flex-grow: 1;
    }

    .footerMobile__linksBlock:last-child {
        padding-left: 12%;
    }

    .footerMobile__subheader {
        font: 700 14px "Open Sans", sans-serif;
        margin-bottom: 30px;
    }

    .footerMobile__item {
        margin-bottom: 20px;
    }

    .footerMobile__link {
        font: 400 12px "Roboto", sans-serif;
        color: #000;
    }

    .footerMobile__link:hover {
        text-decoration: underline;
    }

    .footerMobile__middle {
        display: flex;
    }

    .footerMobile__questions {
        border-right: 1px solid #e5e5e5;
    }

    .footerMobile__questions,
    .footerMobile__orders {
        flex-grow: 1;
        padding: 25px 20px 40px;
    }

    .footerMobile__socialsSubheader {
        font: 700 14px "Open Sans", sans-serif;
        margin-bottom: 15px;
    }

    .footerMobile__socialsInfo {
        display: flex;
        align-items: center;
        font: 400 12px "Roboto", sans-serif;
    }

    .footerMobile__socialsIcon {
        width: 16px;
        height: auto;
        margin-right: 13px;
    }

    .footerMobile__twitterLink {
        font-weight: 700;
        color: #000;
    }

    .footerMobile__bottom_first,
    .footerMobile__bottom_last {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 20px;
    }

    .footerMobile__linksItem {
        font: 700 10px "Roboto", sans-serif;
        margin-right: 12px;
    }

    .footerMobile__socialIcon {
        width: 15px;
        height: 15px;
    }

    .footerMobile__socialIcon:first-child {
        margin-right: 25px;
    }

    .footerMobile__share {
        font: 700 14px "Open Sans", sans-serif;
    }

    .footerMobile__copyright {
        font: 700 10px "Roboto", sans-serif;
    }
}

@media screen and (max-width: 374px) {
    body {
        overflow-x: auto;
    }
}

