/*General*/
* {
    color: #000;
    box-sizing: border-box;
}

a:hover,
a:link,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    margin: 0;
}

ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.main {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

main.overlay {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    z-index: 2;
}

.container {
    max-width: 1180px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.p-0 {
    padding: 0;
}

.flex {
    display: flex;
}

.red, .selected {
    color: #f14a58;
}

/*Header*/
.header {
    background-color: #fff;
}

.headerMobile {
    display: none;
}

.header__top {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.header__title {
    flex-grow: 2;
    font: 700 30px "Open Sans", sans-serif;
    color: #000;
}

.header__info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__wrapEmail {
    margin-right: 55px;
}

.header__link {
    display: flex;
    align-items: center;
    font: 400 12px "Roboto", sans-serif;
    color: #000;
}

.header__bagIcon {
    width: 15px;
    height: 20px;
    margin-right: 15px;
}

.header__nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 3;
    padding: 20px 0 25px;
}

.menu__link {
    font: 700 13px "Open Sans", sans-serif;
    color: #000;
    margin-right: 46px;
}

.menu__link:last-child {
    margin-right: 0;
}

.menu__link:hover,
.menu__link.is-active {
    color: #f14a58;
}

.search {
    border-bottom: 2px solid #e5e5e5;
    width: 115px;
    font: 700 12px "Open Sans", sans-serif;
    padding-bottom: 8px;
    padding-left: 5px;
}

.search__field,
.search__field:focus {
    width: 100%;
    border: none;
    outline: none;
}

.search__icon {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 5px;
    bottom: 50%;
}
/*********************************Start******************************/
.sliderTablet {
    display: none;
}
.slider {
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;
}

.slider__arrow {
    position: absolute;
    background-color: #f14a58;
    width: 35px;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__arrow {
    z-index: 1;
    transition: all .2s ease-out;
}

.slider__arrow.left {
    left: 0;
}

.slider__arrow.right {
    right: 0;
}

.slider__arrowIcon {
    width: 15px;
    height: auto;
}

.slider__arrow:hover {
    cursor: pointer;
    background-color: #c03b46;
}

.slider__wrap {
    position: relative;
    width: 100%;
    height: 750px;
}

.slider__img {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.slider__img.is-active {
    z-index: 1;
}

.slider__pagination,
.sliderTablet__pagination {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 35px 0;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__paginationItem {
    background-color: #d2d2d2;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 20px;
}

.slider__paginationItem:hover {
    cursor: pointer;
}

.slider__paginationItem:last-child {
    margin-right: 0;
}

.slider__paginationItem.is-active {
    background-color: #f14a58;
}

.slider__img {
    width: 100%;
    height: auto;
    display: inherit;
}

.categories {
    border-bottom: 1px solid #e5e5e5;
}

.categories__container {
    flex-direction: row;
}

.shoes, .caps {
    width: 50%;
    height: 385px;
}

.shoes {
    border-right: 1px solid #e5e5e5;
    background: url("../img/catalog/nike.png") 62% 100% no-repeat #fff;
    background-size: 92%;
}

.caps {
    background: url("../img/catalog/cap.png") no-repeat 25% 50% #f7f7f7;
    background-size: contain;
}

.shoes__img, .caps__img {
    width: 100%;
    height: auto;
}

.categories__item {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.categories__info {
    position: absolute;
    top: 65px;
    right: 100px;
    text-align: center;
}

.categories__descr {
    font: 700 28px "Open Sans", sans-serif;
    line-height: 65px;
    margin: 0;
}

.categories__extra {
    font: 400 16px "Crimson", serif;
    color: #757575;
}

/*new arrival*/
.arrival {
    background-color: #fff;
}

.arrival__header {
    padding-top: 140px;
    padding-bottom: 100px;
    margin: 0;
    font: 700 50px "Open Sans", sans-serif;
    text-align: center;
}

.arrival__wrap {
    display: flex;
    justify-content: space-between;
}

.arrival__img {
    width: 100%;
    height: auto;
}

.arrival__descr {
    font: 700 14px "Roboto", sans-serif;
    line-height: 24px;
    text-align: center;
    padding: 50px 0 25px;
    margin: 0;
}

.arrival__price {
    font: 400 14px "Roboto", sans-serif;
    text-align: center;
}

.arrival__bottom {
    text-align: center;
    padding: 100px 0 80px;
}

.button {
    border: 1px solid #e5e5e5;
    font: 700 24px "Open Sans", sans-serif;
    padding: 30px 100px;
    background-color: #fff;
    transition: all .3s ease-out;
}

.button:hover {
    border-color: #f14a58;
    color: #f14a58;
}
/*footer*/
.footerMobile {
    display: none;
}

.footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}

.footer__block {
    width: 50%;
    padding: 57px 0;
    justify-content: space-between;
}

.footer__block:first-child {
    border-right: 1px solid #e5e5e5;
    padding-right: 200px;
}

.footer__block:last-child {
    padding-left: 58px;
}

.footer__subheader {
    font: 700 16px "Open Sans", sans-serif;
    margin-bottom: 55px;
}

.footer__item {
    margin-bottom: 30px;
}

.footer__link {
    font: 400 14px "Roboto", sans-serif;
    color: #000;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__socialsBlock {
    justify-content: space-between;
}

.footer__socialsSubheader {
    font: 700 16px "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.footer__socialsInfo {
    display: flex;
    align-items: center;
    font: 400 14px "Roboto", sans-serif;
}

.footer__socials {
    margin-top: 0;
}

.footer__socialsIcon {
    width: 16px;
    height: auto;
    margin-right: 13px;
}

.footer__twitterLink {
    font-weight: 700;
    color: #000;
}

.footer__telLink {
    font: 400 14px "Roboto", sans-serif;
    color: #000;
}

.footer__delivery {
    width: 275px;
    font: 400 16px "Crimson", cursive;
    line-height: 30px;
    color: #757575;
    margin: 80px 0 45px;
}

.footer__socialIcon {
    width: 15px;
    height: 15px;
    margin-right: 25px;
}

.footer__bottom {
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
    padding-top: 32px;
    padding-bottom: 35px;
}

.footer__copyright,
.footer__linksItem {
    font: 700 12px "Roboto", sans-serif;
    text-align: left;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    text-align: right;
}

.footer__share {
    font: 700 18px "Open Sans", sans-serif;
    margin-right: -85px;
}

.footer__shareBlock,
.footerMobile__shareBlock {
    padding: 5px;
    background-color: #f4f4f4;
    font: 400 12px "Roboto", sans-serif;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.footer__shareBlock::before,
.footerMobile__shareBlock::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #f4f4f4 transparent transparent;
}

.footer__linksItem {
    margin-left: 35px;
}

/*********************************Catalog******************************/
.filters {
    background-image: linear-gradient(to right, #f7f7f7 ,#fff);
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.filters__container {
    display: flex;
}

.filter__item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    transition: all .4s ease-in-out;
    position: relative;
}

.filter__item:hover {
    cursor: pointer;
}

.fashion,
.brand,
.size {
    background-color: #f7f7f7;
}

.type,
.color,
.price {
    background-color: #fff;
}

.filter__label{
    font: 700 12px "Roboto", sans-serif;
}

.filter__header,
.filter__header_red {
    font: 700 16px "Open Sans", sans-serif;
    line-height: 28px;
}

.filter__header.selected {
   color: #f14a58;
}

.filter__icon {
    width: 8px;
    height: auto;
}

.filter__dropdown {
    background-color: #fff;
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    right: 0;
    top: 73px;
    display: none;
    z-index: 1;
}

.filter__dropdownItem {
    font: 700 16px "Open Sans", sans-serif;
    line-height: 40px;
    color: #000;
    padding: 5px 20px;
    transition: all .2s ease-in-out;
}

.filter__dropdownItem:hover {
    background-color: #f7f7f7;
    color: #f14a58;
}

.filter__item.is-show {
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.filter__item.is-show .filter__dropdown {
    display: block;
}

.container__catalogRow {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.catalog__rowItem {
    padding: 0 15px;
    text-align: center;
}

.catalog__rowItem:first-child {
    padding-left: 0;
}

.catalog__rowItem:last-child {
    padding-right: 0;
}

.catalog__rowImg {
    width: 100%;
    height: auto;
}

.catalog__imgWrap,
.bag__itemWrap {
    position: relative;
}

.catalog__imgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    transition: all .3s ease-out;
    color: #f14a58;
}

.catalog__rowItem:hover .catalog__imgOverlay,
.bag__itemWrap:hover .catalog__imgOverlay{
    opacity: 1;
}

.catalog__rowItem:hover .catalog__descrName,
.bag__itemWrap:hover .catalog__descrName{
    color: #f14a58;
}

.catalog__imgText {
    font: 700 22px "Open Sans", sans-serif;
}

.catalog__imgText:hover {
    cursor: pointer;
}

.catalog__descr {
    padding-top: 50px;
}

.catalog__descrName {
    font: 700 14px "Roboto", sans-serif;
    margin-bottom: 20px;
    line-height: 28px;
}

.catalog__descrPrice {
    font: 400 14px "Roboto", sans-serif;
}

.catalog__descrDetail {
    font: 400 16px "Crimson", cursive;
    color: #757575;
}

.catalog__infoBlock {
    text-align: center;
    padding: 85px 0 40px;
}

.catalog__infoMain {
    font: 700 24px "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.catalog__infoExtra {
    font: 400 16px "Crimson", cursive;
    color: #757575;
}

.catalog__imgDescr {
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
}

.catalog__imgDescrName {
    font: 700 30px "Open Sans", sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

.catalog__imgDescrSub {
    font: 400 16px "Crimson", cursive;
    color: #fff;
}

.catalog__buttonWrap {
    text-align: center;
    padding: 95px 0 155px;
}

.catalog__bottom {
    display: flex;
    height: 385px;
    border-top: 1px solid #e5e5e5;
}

.catalog__bottomItem,
.catalog__bottomInnerBlock {
    width: 50%;
    position: relative;
}

.catalog__bottomItem_blue {
    background: url("../img/catalog/adidas.png") no-repeat center center #324063;
    background-size: cover;
}

.catalog__bottomInnerBlock_grey {
    background: url("../img/catalog/jeans.png") no-repeat center center #c9cbcd;
    background-size: cover;
}

.catalog__bottomInnerBlock_white {
    background: url("../img/catalog/bag.png") no-repeat center center #fff;
    background-size: cover;
}

.catalog__bottomItemDescr {
    position: absolute;
    text-align: center;
}

.catalog__bottomItemDescr_adidas {
    top: 65px;
    right: 77px;
}

.catalog__bottomItemDescrHeader {
    font: 700 28px "Open Sans", sans-serif;
    color: #fff;
    margin-bottom: 20px;
}

.catalog__bottomItemDescrInfo {
    font: 400 16px "Crimson", cursive;
    color: #fff;
}

.catalog__bottomItemDescr_center {
    width: 100%;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
}

.catalog__bottomItemDescrHeader_red {
    color: #f14a58;
}

.catalog__bottomItemDescrInfo_grey {
    color: #757575;
}

/*Item*/
.back,
.bag__top {
    max-width: 100%;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 0;
}

.back__container {
    display: flex;
    align-items: center;
}

.back__descr {
    font: 700 16px "Open Sans", sans-serif;
}

.item {
    background-color: #fff;
}

.item__container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 150px;
}

.item__galeryBlock {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.item__descrBlock {
    width: 50%;
    padding: 28px 50px;
}

.item__galeryBlock_thumbnails {
    display: flex;
    overflow: hidden;
}

.item__title {
    font: 700 26px "Roboto", sans-serif;
    margin-bottom: 20px;
    padding-left: 25px;
}

.item__descr {
    font: 400 26px "Crimson", cursive;
    color: #757575;
    line-height: 30px;
}

.item__price {
    font: 400 25px "Roboto", sans-serif;
    padding-top: 50px;
    padding-bottom: 40px;
}

.item__img_full {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.item__img {
    width: 200px;
    height: auto;
}

.item__size,
.item__color {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item__label {
    font: 400 12px "Roboto", sans-serif;
    margin-right: 50px;
}

.item__parameter {
    font: 700 14px "Open Sans", sans-serif;
    padding: 15px 20px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    white-space: nowrap;
}

.item__parameter:last-child {
    margin-right: 0;
}

.item__parameter:hover {
    cursor: pointer;
}

.item__parameter.selected {
    border-color: #e5e5e5;
}

.item__btnWrap {
    text-align: center;
}

.item__addBtn {
    padding: 20px 100px;
    font: 600 24px "Open Sans", sans-serif;
}

/*Shopping bag*/
.bag__title {
    font: 700 26px "Open Sans", sans-serif;
}

.bag__deliveryBlock {
    background-color: #f7f7f7;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
    text-align: center;
}

.bag__deliveryInfo {
    font: 700 12px "Open Sans", sans-serif;
}

.bag__bottomBlock {
    padding-top: 30px;
    padding-bottom: 60px;
}

.bag__bottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bag__emptyLink {
    font: 700 13px "Roboto", sans-serif;
}

.bag__button {
    padding: 25px 115px;
}

.bag__cost {
    text-align: right;
}

.bag__costLabel {
    font: 400 12px "Roboto", sans-serif;
    margin-bottom: 5px;
}

.bag__costPrice {
    font: 700 18px "Open Sans", sans-serif;
}

.bag__topContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 15px;
}

.bag__item {
    width: 50%;
    display: flex;
    margin-bottom: 125px;
}

.bag__itemDescr {
    padding: 15px 25px;
}

.bag__descrName {
    font: 700 14px "Roboto", sans-serif;
    line-height: 24px;
    margin-bottom: 20px;
}

.bag__itemPrice {
    font: 700 16px "Roboto", sans-serif;
    margin-bottom: 40px;
}
.bag__itemDetails {
    font: 400 12px "Roboto", sans-serif;
    margin-bottom: 10px;
}

.bag__itemDetails.last {
    margin-bottom: 40px;
}

.bag__item .bag__itemRemove {
    font: 700 13px "Open Sans", sans-serif;
    color: #f14a58;
}

